*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
.footer{
             height: 460px;
             background-color: #232f3e;
             color: #fff;
             padding: 50px 0px;
             font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.container{
                max-width: 1170px;
                margin: auto;
                
}
.row{
             display: flex;
             flex-wrap: wrap;
             
}
ul{
    list-style: none;
}
.footer-col{
                 width: 15%;
                 padding: 10px 15px;
                 margin-bottom: 20px;
                 margin-left: 30px;
}
.footer-col> h4{
                   font-size: 18px;
                   text-transform: capitalize;
                   font-weight: 500;
                   color: #febd69;
}
.footer-col ul li{
                       padding: 5px;
}

.footer-col ul li>a{
                     
                     color: #fff;
                     text-decoration: none;
}
.footer-col ul li>a:hover{
                        color: #febd69;
}
.footer-col>mat-icon:hover{
                              color: #febd69;
                              cursor: pointer;
}
.footer-col>a{
                  text-decoration: none;
                  padding: 5px;
                  font-size: 20px;
                  color: #fff;
}
.footer-col>a:hover{
                      color: #febd69;
}

.tag-line>p{
                
                text-align: center;
                font-size: 12px;
                
}
.tag-line>p>mat-icon{
                       font-size: 12px;
}

.footer-col> li{
                  list-style: none;
}
.footer-col>mat-icon{
                         margin: 5px;
}
.footer-col>p{
                 margin: 5px;
}
.footer-col>input{
                     width: 270px;
                     height: 40px;
                     padding: 10px;
}
.footer-col>button{
                       margin-top: 15px;
                       padding: 5px;
}





