<div class="header">
    <div class="header_top">
          <div class="header_menu">
           <div class="header_menu_icon">
                 <mat-icon>menu</mat-icon>
           </div>
          
          <div class="header_logo_image">
           <img src="./assets/glass.png" style="width: 50px; background-color: #febd69; border-radius: 5px;">
          </div>
          
           <div class="header_logo">
               
                    <a href="#" style="text-decoration: none; color:#fff"><span>CHEERS</span></a>
          </div>  
          
          <div class="header_menu_searchbar">
              <input id="search_box" type="text" placeholder="Search">
              <mat-icon>search</mat-icon>
          </div>
          
          <div class="header_menu_signin">
              <a routerLink="/login" style="text-decoration: none; color: lightgray;"><span class="header_menu_top_item">Hello, Sign In</span></a>
              <span class="header_menu_bottom_item">Accounts & Lists</span>
          </div>

          <div class="header_menu_orders">
           <span class="header_menu_top_item">Returns</span>
           <span class="header_menu_bottom_item">& Orders</span>
       </div> 
             
           <div class="header_menu_cart_icon">
                 <mat-icon>shopping_cart</mat-icon>
                 <P class="header_menu_cart_number">3</P>
                 
           </div>
          </div>

    </div>
    
    
    <div class="header_bottom">
           
        <div class="container">
               <div class="btn-group">
               <a class="fa fa-home" href="#"></a>
               <a routerLink="/whisky" class="dropdown-toggle" data-toggle="dropdown">Whisky</a>
               <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
               </div>
               </div>
               
               <div class="btn-group">
               <a routerLink="/brandy" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">Brandy</a>
               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
               </div>
               </div>
               
               <div class="btn-group">
               <a routerLink="/beers" class="dropdown-toggle" data-toggle="dropdown">Beers</a>
               <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
               </div>
               </div>
               
               <div class="btn-group">
               <a routerLink="/rum" class="dropdown-toggle" data-toggle="dropdown">Rum</a>
               <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
               </div>
               </div>

               <div class="btn-group">
               <a routerLink="/vodka" class="dropdown-toggle" data-toggle="dropdown">Vodka</a>
               <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
               </div>
               </div>
               
               <div class="btn-group">
               <a routerLink="/taquila" class="dropdown-toggle" data-toggle="dropdown">Taquila</a>
               </div>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
               </div>

        </div>
               
               
           
    </div>
</div>

