<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="container">
        
        <div class="login-box">
        <div class="row">
            <div class="col-md-6">
                <div class="login-left">
                    <h2>Login Here</h2>
                      <form class="myForm">
                          <div class="form-group">
                               <input class="form-control" type="text" placeholder="Enter Email" required>
                               <input class="form-control" type="password" placeholder="Enter Password" required>
    
                                <button type="submit" class="btn btn-primary">Sign-In</button>
                          </div>
                      </form>
                </div>
            </div>
    
        
              <div class="col-md-6">
                <div class="login-right">
                    <h2>Register Here</h2>
                  <form class="myForm">
                      <div class="form-group">
                    <input class="form-control" type="text" placeholder="Name" required>
                    <input class="form-control" type="text" placeholder="Enter Email" required>
                    <input class="form-control" type="Password" placeholder="Enter Password" required>
    
                    <button type="submit" class="btn btn-primary">Create</button>
                   </div>
                </form> 
                   
                </div>
            </div>
          
        </div>
        </div>
    </div>
</body>
</html>

   
   