.body{
               max-width: 900px;
               
}


.login-left{
               padding: 50px;
               margin: 130px auto;
               text-align: center;
               background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
               
}
.login-right{
               padding: 50px;
               margin: 130px auto;
               text-align: center;
               background: linear-gradient(rgba(0, 0 , 211, 0.5), rgba(0, 0 , 211, 0.5));
}
input{
               padding: 10px;
               margin: 10px;
}
