*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}

.banner_small_images > img{
                             padding: 10px;
                             margin: 10px;
                             justify-content: space-around;
                             padding-left:20px;
}

img:hover{
              opacity: 0.8;
}